[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mdx-linkify = "*"
python-markdown-math = "*"
pygments = "*"
jinja2 = "*"
strict-rfc3339 = "*"
markdown-it-py = "*"
mdit-py-plugins = "*"
linkify-it-py = "*"

[dev-packages]

[requires]
python_version = "3.10"
