<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <link rel="stylesheet" href="/pygments.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
  <title>llimllib notes</title>
</head>

<body>
  <main class="container">
    <div class="dirlinks" style="margin-bottom: 20px">
      <a href="/">notes.billmill.org</a> /
      {%- for link in tree.dirlinks() %}
      {{ link }} /
      {%- endfor %}
    </div>
    {%- if tree.has_child_dirs() %}
    {# for now just expand all child pages, eventually might want to do
    something smarter? #}
    <a id="collapseall" href="#">collapse all</a>
    <ul class="tree">
      {%- for node in tree.children recursive %}
      {%- if node.children -%}
      <li>
        <details open>
          <summary>{{ node.basename }} {{ node.dirlink() }}</summary>
          <ul>{{ loop(node.children) }}</ul>
        </details>
      </li>
      {%- elif not node.page.attachment %}
      <li>
        <a href="/{{ node.page.link_path }}">{{ node.page.title }}</a>
      </li>
      {%- endif %}
      {%- endfor %}
    </ul>
    {%- else %}
    {# if there aren't any child dirs, we want to show a ul with regular
    bullets instead of the collapsible tree we normally show #}
    <ul>
      {%- for node in tree.children %}
      {%- if not node.page.attachment %}
      <li>
        <a href="/{{ node.page.link_path }}">{{ node.page.title }}</a>
      </li>
      {%- endif %}
      {%- endfor %}
    </ul>
    <div>
      {%- endif %}
      {%- if tree.dir_backlinks()%}
      <div class="backlinks">
        Backlinks:
        <ul>
          {%- for backlink in tree.dir_backlinks() %}
          <li>
            <a href="/{{ backlink.link_path }}">{{ backlink.title }}</a>
          </li>
          {%- endfor %}
        </ul>
      </div>
      {%- endif %}
  </main>
  {% include 'footer.html' %}
</body>
<script>
  window.addEventListener("DOMContentLoaded", async (_evt) => {
    var expanded = true;
    document.querySelector("#collapseall").addEventListener("click", () => {
      if (expanded) {
        document.querySelectorAll("details").forEach(d => d.open = false)
        document.querySelector("#collapseall").innerText = "expand all"
        expanded = false;
      } else {
        document.querySelectorAll("details").forEach(d => d.open = true)
        document.querySelector("#collapseall").innerText = "collapse all"
        expanded = true;
      }
    });
  });
</script>

</html>
