<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  <script>
    // Add the subdomain to the path. https://www.goatcounter.com/help/domains
    window.goatcounter = {
      path: function (p) {return location.host + p}
    }
  </script>
  <!-- visitor counter that does not track personal info -->
  <script data-goatcounter="https://goatcounter.billmill.org/count" async
    src="//goatcounter.billmill.org/count.js"></script>
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <link rel="stylesheet" href="/pygments.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
  <title>llimllib notes</title>
</head>

<body>
  <main class="container">
    <div class="dirlinks" style="margin-bottom: 20px">
      <a href="/">notes.billmill.org</a> /
    </div>
    <h2>Recently Updated</h2>
    <ul>
      {% for page in recently_updated %}
      <li>
        <span class="recent">
          {{ page.updated_date }}
        </span>
        <a href="{{ page.link_path }}">{{ page.titlepath }}</a>
      </li>
      {% endfor %}
    </ul>
    <div>
      <a href="search.html">🔍 search notes</a>
    </div>
    <h2>All Notes</h2>
    <a id="collapseall" href="#">expand all</a>
    <ul class="tree">
      {%- for node in tree.children recursive %}
      {%- if node.children -%}
      <li>
        <details>
          <summary>{{ node.basename }} {{ node.dirlink() }}</summary>
          <ul>{{ loop(node.children) }}</ul>
        </details>
      </li>
      {%- elif not node.page.attachment %}
      <li>
        <a href="{{ node.page.link_path }}">{{ node.page.title }}</a>
      </li>
      {%- endif %}
      {%- endfor %}
    </ul>
  </main>
  {% include 'footer.html' %}
</body>
<script>
  window.addEventListener("DOMContentLoaded", async (_evt) => {
    var expanded = false;
    document.querySelector("#collapseall").addEventListener("click", () => {
      if (expanded) {
        document.querySelectorAll("details").forEach(d => d.open = false)
        document.querySelector("#collapseall").innerText = "expand all"
        expanded = false;
      } else {
        document.querySelectorAll("details").forEach(d => d.open = true)
        document.querySelector("#collapseall").innerText = "collapse all"
        expanded = true;
      }
    });
  });
</script>

</html>
