<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="stylesheet" href="/pygments.css" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
    <title>llimllib notes</title>
  </head>
  <body>
    <main class="container">
      <h2>Recently updated</h2>
      <ul>
{% for page in recently_updated %}
  <li>
    <span class="recent">
      {{ page["updated_date"] }}
    </span>
    <a href="{{ page["link_path"] }}">{{ page["titlepath"] }}</a>
  </li>
{% endfor %}
      </ul>
      <h2>All Notes</h2>
      <ul>
{%- for node in tree.children recursive %}
    {%- if node.children -%}
      <li>{{ node.dir }}
        <ul>{{ loop(node.children) }}</ul>
      </li>
    {%- else %}
      <li>
        <a href="{{ node.page["link_path"] }}">{{ node.page["title"] }}</a>
      </li>
    {%- endif %}
{%- endfor %}
      </ul>
    </main>
  </body>
</html>
