<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta property="og:title" content="notes.billmill.org" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://notes.billmill.org" />
  <meta property="article:modified_time" content="{{ page.update_date }}" />
  <meta property="article:tag" content="{{ ' '.join(page.titlepath.split('/')) }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <link rel="stylesheet" href="/pygments.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
  <link rel="alternate" type="application/atom+xml" title="Link blog" href="/link_blog.atom.xml" />
  <link rel="alternate" type="application/atom+xml" title="Music blog" href="/music_blog.atom.xml" />
  <link rel="alternate" type="application/atom+xml" title="blog" href="/blog.atom.xml" />
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🗿</text></svg>">
  <title>{{ page.title }} - llimllib notes</title>
</head>

<body>
  <main class="container">
    <div class="dirlinks" style="margin-bottom: 20px">
      <a href="/">notes.billmill.org</a> /
      {%- for link in page.dirlinks() %}
      {{ link }} /
      {%- endfor %}
    </div>
    <h1 class="title">{{ page.title }}</h1>
    <!-- digital ocean spaces has some sort of horrific cloudflare
       shit enabled that automatically hides email addresses, and it detects
       mastodon account names as an email address, so I have to put this utter
       bullshit here -->
    <!--email_off-->
    <div class="time"><em>last updated: {{ page.updated_date }}</em></div>
    {{ page.html }}
    {% if page.backlinks %}
    <div class="backlinks">
      Backlinks:
      <ul>
        {% for backlink in page.backlinks %}
        <li>
          <a href="/{{ backlink.link_path }}">{{ backlink.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!--/email_off-->
    {% endif %}
    <div class="index"><a href="/">↑ up</a></div>
  </main>
  {% include 'footer.html' %}
</body>

</html>
