<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  <script>
    // Add the subdomain to the path. https://www.goatcounter.com/help/domains
    window.goatcounter = {
      path: function (p) {return location.host + p}
    }
  </script>
  <!-- visitor counter that does not track personal info -->
  <script data-goatcounter="https://goatcounter.billmill.org/count" async
    src="//goatcounter.billmill.org/count.js"></script>
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <link rel="stylesheet" href="/pygments.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
  <title>{{ page.title }} - llimllib notes</title>
</head>

<body>
  <main class="container">
    <h1 class="title">{{ page.title }}</h1>
    <div class="time">{{ page.updated_date }}</div>
    {{ page.html }}
    {% if page.backlinks %}
    <div class="backlinks">
      Backlinks:
      <ul>
        {% for backlink in page.backlinks %}
        <li>
          <a href="/{{ backlink.link_path }}">{{ backlink.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="index"><a href="/">↑ up</a></div>
  </main>
  {% include 'footer.html' %}
</body>

</html>
