<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  <script id="search_algo" type="module">
    import Fuse from "https://cdn.jsdelivr.net/npm/fuse.js@6.6.2/dist/fuse.esm.js";

    const index = {{ index|tojson }};

    const options = {
      includeMatches: true,
      includeScore: true,
      keys: ["title", "contents"],
      useExtendedSearch: true,
    };
    const fuse = new Fuse(index, options);

    function render(tag, attributes, ...children) {
      const elt = document.createElement(tag);
      Object.entries(attributes).forEach(([k, v]) => elt.setAttribute(k, v));
      children.forEach((child) =>
        typeof child === "string"
          ? elt.appendChild(document.createTextNode(child))
          : elt.appendChild(child)
      );
      return elt;
    }

    function search() {
      const resultsList = document.querySelector("#results");
      resultsList.innerHTML = "";

      const query = document.querySelector("#search").value;
      if (query === "") {
        return;
      }

      const result = fuse.search(query);

      for (let i = 0; i < Math.min(25, result.length); i++) {
        const { contents, link_path, title_path } = result[i].item;
        const indices = result[i].matches.filter((x) => x.key === "contents")[0]
          ?.indices;
        resultsList.appendChild(
          render(
            "li",
            { class: "result" },
            render(
              "a",
              { class: "title_path", href: `../${link_path}` },
              title_path
            ),
            render(
              "div",
              { class: "contents" },
              contents.substring(indices ? indices[0][0] : 0, 255)
            )
          )
        );
      }
    }

    window.addEventListener("DOMContentLoaded", () => {
      const searchBox = document.querySelector("#search");
      searchBox.focus();
      searchBox.addEventListener("input", search);
      search();
    });
  </script>
  <script>
    // Add the subdomain to the path. https://www.goatcounter.com/help/domains
    window.goatcounter = {
      path: function (p) {return location.host + p}
    };
  </script>
  <!-- visitor counter that does not track personal info -->
  <script data-goatcounter="https://goatcounter.billmill.org/count" async
    src="//goatcounter.billmill.org/count.js"></script>
<style>
#searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search {
  width: 75%;
  font-size: 2rem;
  padding: 5px;
}
.title_path {
  font-size: 1.1em;
  padding-bottom: .25em;
}
ul {
  list-style-type: none;
}
li {
  padding-top: 1em;
}
</style>
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <link rel="stylesheet" href="/pygments.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
  <title>llimllib notes search</title>
</head>

<body>
  <main class="container">
    <div id="searchContainer">
      <input id="search" placeholder="query" value="">
    </div>
    <div>
      <ul id="results">
      </ul>
    </div>
  </main>
  {% include 'footer.html' %}
</body>

</html>
