<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta property="og:title" content="notes.billmill.org" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://notes.billmill.org" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  <script id="search_algo" type="module">
    import MiniSearch from 'https://cdn.jsdelivr.net/npm/minisearch@6.3.0/+esm'

    const index = new MiniSearch({
      fields: ['title', 'contents'],
      storeFields: ['contents', 'title', 'title_path', 'link_path'],
      searchOptions: {
        boost: {title: 2},
        fuzzy: 0.2
      }
    });
    const documents = {{index | tojson }};
    index.addAll(documents);
    window.windex = index;

    function render(tag, attributes, ...children) {
      const elt = document.createElement(tag);
      Object.entries(attributes).forEach(([k, v]) => elt.setAttribute(k, v));
      children.forEach((child) =>
        typeof child === "string"
          ? elt.appendChild(document.createTextNode(child))
          : elt.appendChild(child)
      );
      return elt;
    }

    function search() {
      const resultsList = document.querySelector("#results");
      resultsList.innerHTML = "";
      const suggestions = document.querySelector("#suggestions");
      suggestions.innerHTML = "";

      const query = document.querySelector("#search").value;
      if (query === "") {
        return;
      }

      // populate the suggestion box
      const seen = new Set();
      for (let suggest of index.autoSuggest(query).splice(0, 15)) {
        if (query == suggest.terms[0]) {continue;}
        if (seen.has(suggest.terms[0])) {continue;}
        seen.add(suggest.terms[0]);
        suggestions.appendChild(render("option", {value: suggest.terms[0]}));
      }

      const result = index.search(query);
      for (let i of result.splice(0, 25)) {
        const {contents, link_path, title_path, terms} = i;
        const highlight = new RegExp(`(${terms.join("|")})`, "gi")
        resultsList.appendChild(
          render(
            "li",
            {class: "result"},
            render(
              "a",
              {class: "title_path", href: `../${link_path}`},
              ...title_path.split(highlight).filter(m => m).map(m => m.match(highlight) ?
                render("span", {class: "highlight"}, m) : m)
            ),
            render(
              "div",
              {class: "contents"},
              ...contents.split(highlight).filter(m => m).map(m => m.match(highlight) ?
                render("span", {class: "highlight"}, m) : m)
            )
          )
        );
      }
    }

    window.addEventListener("DOMContentLoaded", () => {
      const searchBox = document.querySelector("#search");
      searchBox.focus();
      searchBox.addEventListener("input", search);
      search();
    });
  </script>
  <script>
    // Add the subdomain to the path. https://www.goatcounter.com/help/domains
    window.goatcounter = {
      path: function (p) {return location.host + p}
    };
  </script>
  <!-- visitor counter that does not track personal info -->
  <script data-goatcounter="https://goatcounter.billmill.org/count" async
    src="//goatcounter.billmill.org/count.js"></script>
  <style>
    #searchContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #search {
      width: 75%;
      font-size: 2rem;
      padding: 5px;
    }

    .title_path {
      font-size: 1.1em;
      padding-bottom: .25em;
    }

    ul {
      list-style-type: none;
    }

    li {
      padding-top: 1em;
    }

    .highlight {
      background-color: #9dea92;
    }
  </style>
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <link rel="stylesheet" href="/pygments.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
  <title>llimllib notes search</title>
</head>

<body>
  <main class="container">
    <div id="searchContainer">
      <input id="search" placeholder="query" value="" list="suggestions" autocomplete="off">
      <datalist id="suggestions"></datalist>
    </div>
    <div>
      <ul id="results">
      </ul>
    </div>
  </main>
  {% include 'footer.html' %}
</body>

</html>
