body {
  font-family: Georgia, "Book Antiqua", serif;
  font-size: 1.4rem;
  background-color: #fffff8;
  margin: 20px;
  padding: 0;
}
main {
  color: #111;
  line-height: 2rem;
  max-width: 800px;
  margin: 2em auto;
}
footer {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center;
}
blockquote {
  border-left: 1px solid hsl(298 100% 70%);
  padding-left: 12px;
}
.codehilite {
  font-size: 1rem;
  padding-left: 1rem;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  /* This is a hack to get the code boxes wider than the parents, but still
       in the document flow... I would like to figure out how to get the width
       to be auto-figured-out, but for now I'm just going to set it wide
       because it works-ish */
  position: relative;
  width: 900px;
}
a {
  color: hsl(298 100% 40%);
}
a:visited {
  color: hsl(298 100% 70%);
}
h1 {
  font-size: 2rem;
  line-height: 3rem;
}
h2 {
  font-size: 1.8rem;
}
table {
  width: 900px;
}

thead th {
  border-bottom: solid 1px #aaa;
}

tbody tr td {
  border-bottom: solid 1px #aaa;
}
td {
  padding: 8px;
}
.recent {
  display: inline-block;
  width: 150px;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }
  .recent {
    display: none;
  }
}
code.oneline {
  background-color: #eee;
  padding: 3px;
  font-size: 1.2rem;
}
/* https://iamkate.com/code/tree-views/ */
.tree {
  --spacing: 1.5rem;
  --radius: 10px;
  /* shove the tree closer to the margin - not sure how to do this better */
  margin-left: -40px;
}
.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}
.tree ul li {
  border-left: 2px solid #ddd;
}
.tree ul li:last-child {
  border-color: transparent;
}
.tree ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid #ddd;
  border-width: 0 0 2px 2px;
}
.tree summary {
  /* to remove the disclosure arrow, uncomment this and the following rule */
  /* display: block; */
  cursor: pointer;
}

/* I think I prefer keeping these?
.tree summary::marker,
.tree summary::-webkit-details-marker{
  display : none;
} */

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

#collapseall {
  font-size: 1rem;
}
